# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=
PORT=
NODE_ENV= # DEV, PROD

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=
JWT_SECRET_REFRESH=
JWT_SECRET_REFRESH_EXPIRES_IN=
